body {
    background-image: url("../images/background1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#register_frame {
    width: 400px;
    height: 500px;
    padding: 13px;
    position: absolute;
    left: 80%;
    top: 40%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(240, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
}

form p>* {
    display: inline-block;
    vertical-align: middle;
}

#image_logo {
    margin-top: 22px;
    /* width : 50px;
    height : 50px; */
}

.label_input {
    font-size: 14px;
    font-family: 宋体;
    width: 65px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #ff5000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    background-color: rgba(240, 255, 255, 0.5);
}

#btn_register {
    margin-left: 110px;
    font-size: 14px;
    font-family: 宋体;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #ff5000;
    border-radius: 6px;
    border: 0;
    float: left;
}

#send_captcha {
    margin-left: 30px;
    font-size: 14px;
    font-family: 宋体;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background-color: #ff5000;
    border-radius: 6px;
    border: 0;
    float: left;
}

#login_control {
    padding: 0 28px;
}